@use "./header.scss";
@use "./about.scss";
@use "./posts.scss";
@use "./works.scss";
@use "./footer.scss";

body{
  font-family: "Heebo",sans-serif;
  max-width: 1152px;
  margin: 0 auto;
}
